<form action="" name="business-form" (ngSubmit)="onSubmit()">
    <div class="row my-4">
        <div class="col-12" [ngClass]="url == '/business-edit' ? 'col-lg-10' : 'col-lg-9'">
            <mdb-form-control [ngClass]="url == '/business-edit' ? 'form-white' : ''">
                <input type="text" class="form-control" name="name" mdbInput mdbValidate autofocus />
                <label for="name" class="form-label" mdbLabel>Business Name</label>
            </mdb-form-control>
        </div>
        <div class="col-12" [ngClass]="url == '/business-edit' ? 'col-lg-2' : 'col-lg-3'">
            <mdb-form-control [ngClass]="url == '/business-edit' ? 'form-white' : ''">
                <input type="number" class="form-control" name="ein" mdbInput mdbValidate />
                <label for="ein" class="form-label" mdbLabel>Business EIN</label>
            </mdb-form-control>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 col-lg-8">
            <mdb-form-control [ngClass]="url == '/business-edit' ? 'form-white' : ''">
                <input
                    mdbInput
                    mdbValidate
                    [mdbDatepicker]="datepicker"
                    type="text"
                    class="form-control"
                    name="date-founded"
                    (click)="datepicker.open()"
                />
                <label mdbLabel for="date-founded" class="form-label">Date Founded</label>
                <mdb-datepicker #datepicker [format]="'dd, mmm, yyyy'"></mdb-datepicker>
            </mdb-form-control>
        </div>
        <div class="col-12 col-lg-4">
            <mdb-form-control [ngClass]="url == '/business-edit' ? 'form-white' : ''">
                <mdb-select [filter]="true" name="state-founded">
                    <mdb-option *ngFor="let option of states" [value]="option.abbreviation">
                        {{ option.name }}
                    </mdb-option>
                </mdb-select>
                <label
                    for="state-founded"
                    class="form-label"
                    [ngClass]="url == '/business-edit' ? '' : 'text-black-50'"
                    mdbLabel
                    >Founded In</label
                >
            </mdb-form-control>
        </div>
    </div>
    <mdb-form-control [ngClass]="url == '/business-edit' ? 'form-white' : ''" class="my-4">
        <input type="url" class="form-control" name="business-website" mdbInput mdbValidate />
        <label for="business-website" class="form-label" mdbLabel>Business Website</label>
    </mdb-form-control>
    <mdb-form-control [ngClass]="url == '/business-edit' ? 'form-white' : ''">
        <textarea class="form-control" name="business-description" mdbInput mdbValidate rows="3"></textarea>
        <label for="business-description" class="form-label" mdbLabel>Description</label>
    </mdb-form-control>
</form>
