<div class="modal-content">
    <div class="modal-header bg-danger text-white d-flex justify-content-center">
        <h5 class="h3 modal-title">Delete Expense</h5>
    </div>
    <div class="modal-body text-center text-danger">
        <i class="fas fa-times fa-3x py-2"></i>
        <p class="h4 py-2">Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger">Yes</button>
        <button type="button" class="btn btn-dark" (click)="close()">No</button>
    </div>
</div>
