<form [formGroup]="expenseForm">
    <mdb-form-control [ngClass]="url.endsWith('/edit') ? 'form-white my-5' : 'my-4'">
        <input
            mdbValidate
            mdbInput
            formControlName="type"
            [mdbAutocomplete]="autocomplete"
            type="text"
            class="form-control"
        />
        <label mdbLabel class="form-label required">Expense Type</label>
        <mdb-error *ngIf="f['type'].invalid && (f['type'].dirty || f['type'].touched)">
            {{ validationMessages.type.required }}
        </mdb-error>
        <mdb-success *ngIf="f['type'].valid && (f['type'].dirty || f['type'].touched)">
            {{ validationMessages.success }}
        </mdb-success>
    </mdb-form-control>

    <mdb-autocomplete
        #autocomplete="mdbAutocomplete"
        [displayValue]="displayValue"
        [listHeight]="290"
        [optionHeight]="58"
    >
        <mdb-option *ngFor="let expenseType of filteredExpenseTypes | async" [value]="expenseType">
            <div class="autocomplete-custom-item-content">
                <div class="autocomplete-custom-item-title">{{ expenseType.name }}</div>
                <div class="autocomplete-custom-item-subtitle">{{ expenseType.type }}</div>
            </div>
        </mdb-option>
        <div *ngIf="notFound" class="autocomplete-no-results">No results found</div>
    </mdb-autocomplete>

    <div class="row" [ngClass]="url.endsWith('/edit') ? 'my-5' : 'my-4'">
        <div class="col-12 col-md-7 col-lg-8">
            <mdb-form-control [ngClass]="url.endsWith('/edit') ? 'form-white' : ''">
                <input mdbValidate mdbInput type="text" class="form-control" formControlName="title" />
                <label mdbLabel for="title" class="form-label required">Title</label>
                <mdb-error *ngIf="f['title'].invalid && (f['title'].dirty || f['title'].touched)">
                    {{ validationMessages.title.required }}
                </mdb-error>
                <mdb-success *ngIf="f['title'].valid && (f['title'].dirty || f['title'].touched)">
                    {{ validationMessages.success }}
                </mdb-success>
            </mdb-form-control>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <mdb-form-control [ngClass]="url.endsWith('/edit') ? 'form-white' : ''">
                <input
                    mdbValidate
                    mdbInput
                    [mdbDatepicker]="datepicker"
                    type="text"
                    class="form-control"
                    formControlName="date"
                    (focus)="datepicker.open()"
                    required
                />
                <label mdbLabel for="date" class="form-label required">Expense date</label>
                <mdb-datepicker-toggle [icon]="'fas fa-calendar'" [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
                <mdb-datepicker
                    [maxDate]="maxDate"
                    [inline]="true"
                    [format]="'ddd, mmm dd, yyyy'"
                    #datepicker
                ></mdb-datepicker>
                <mdb-error *ngIf="f['date'].invalid && (f['date'].dirty || f['date'].touched)">
                    {{ validationMessages.date.required }}
                </mdb-error>
                <mdb-success *ngIf="f['date'].valid && (f['date'].dirty || f['date'].touched)">
                    {{ validationMessages.success }}
                </mdb-success>
            </mdb-form-control>
        </div>
    </div>
    <mdb-form-control
        *ngIf="f['type'].value !== 'Car Mileage'; else elseBlock"
        [ngClass]="url.endsWith('/edit') ? 'form-white my-5' : 'my-4'"
    >
        <input
            mdbValidate
            mdbInput
            type="number"
            class="form-control"
            formControlName="amount"
            [ngStyle]="url.endsWith('/edit') ? { background: 'transparent', color: 'white' } : {}"
        />
        <label mdbLabel for="amount" class="form-label required"> Amount </label>
        <mdb-error *ngIf="f['amount'].invalid && (f['amount'].dirty || f['amount'].touched)">
            {{ validationMessages.amount.required }}
        </mdb-error>
        <mdb-success *ngIf="f['amount'].valid && (f['amount'].dirty || f['amount'].touched)">
            {{ validationMessages.success }}
        </mdb-success>
    </mdb-form-control>
    <ng-template #elseBlock>
        <div class="row" ngClass="url.endsWith('/edit') ? 'my-5' : 'my-4'">
            <div class="col-12 col-lg-8">
                <mdb-form-control [ngClass]="url.endsWith('/edit') ? 'form-white' : ''">
                    <input
                        mdbValidate
                        mdbInput
                        type="number"
                        class="form-control"
                        formControlName="distance"
                        (keyup)="calculateMileage($event)"
                    />
                    <label mdbLabel for="distance" class="form-label required">Distance</label>
                    <mdb-error *ngIf="f['distance'].invalid && (f['distance'].dirty || f['distance'].touched)">
                        {{ validationMessages.distance.required }}
                    </mdb-error>
                    <mdb-success *ngIf="f['distance'].valid && (f['distance'].dirty || f['distance'].touched)">
                        {{ validationMessages.success }}
                    </mdb-success>
                </mdb-form-control>
            </div>
            <div class="col-12 col-lg-4 d-flex algin-items-center">
                <p [ngClass]="url.endsWith('/edit') ? 'text-white' : 'text-black-50'" class="my-auto">
                    * 0.56/mile = {{ mileage_cost | currency }}
                </p>
            </div>
        </div>
    </ng-template>
    <mdb-form-control [ngClass]="url.endsWith('/edit') ? 'form-white my-5' : 'my-4'">
        <textarea mdbValidate mdbInput class="form-control" formControlName="description" rows="3"></textarea>
        <label mdbLabel for="description" class="form-label required">Description</label>
        <mdb-error *ngIf="f['description'].invalid && (f['description'].dirty || f['description'].touched)">
            {{ validationMessages.description.required }}
        </mdb-error>
        <mdb-success *ngIf="f['description'].valid && (f['description'].dirty || f['description'].touched)">
            {{ validationMessages.success }}
        </mdb-success>
    </mdb-form-control>
    <label mdbLabel class="form-label required" [ngClass]="url.endsWith('/edit') ? 'text-white' : ''" for="receipt">
        Receipt
    </label>
    <mdb-form-control [ngClass]="url.endsWith('/edit') ? 'form-white' : ''">
        <input mdbValidate mdbInput type="file" class="form-control" formControlName="receipt" required />
        <mdb-error *ngIf="f['receipt'].invalid && (f['receipt'].dirty || f['receipt'].touched)">
            {{ validationMessages.receipt.required }}
        </mdb-error>
        <mdb-success *ngIf="f['receipt'].valid && (f['receipt'].dirty || f['receipt'].touched)">
            {{ validationMessages.success }}
        </mdb-success>
    </mdb-form-control>
</form>
