.autocomplete-custom-item-content {
    display: flex;
    flex-direction: column;
}
.autocomplete-custom-item-title {
    font-weight: 500;
}
.autocomplete-custom-item-subtitle {
    font-size: 0.8rem;
}
