/* You can add global styles to this file, and also import other style files */

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
html,
body {
    background: #414040 !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    // color: white;
}

main {
    flex: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* autofill color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #4e4b4b inset !important;
    box-shadow: 0 0 0 30px #4e4b4b inset !important;
    -webkit-text-fill-color: white !important;
}

.datatable .select-arrow {
    color: white !important;
}

.datatable-pagination-button {
    color: white;
}

.select-input.form-control[readonly]:not([disabled]) {
    color: white;
}

.modal-body .select-input.form-control[readonly]:not([disabled]) {
    color: #000;
}

.datatable-sort-icon.active {
    color: white;
}

.modal-body .select ~ .form-label {
    color: #4f4f4f !important;
}
