<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>
                    Is using an Excel sheet to keep track of expenses too Plain Jane for you?<br />I think so too!<br />Use this beautiful dark-themed expense tracker to make sure the government always pays you what you're due!
                </p>
            </div>
            <div class="offset-lg-2 col-lg-1 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a routerLink="/businesses" class="text-white"> Businesses </a>
                    </li>
                    <li>
                        <a routerLink="/expenses" class="text-white"> Expenses </a>
                    </li>
                    <li><a routerLink="/" class="text-white">Home</a></li>
                </ul>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/about-us" class="text-white"> About Us </a>
                    </li>
                    <li><a routerLink="/login" class="text-white">Login</a></li>
                    <li>
                        <a routerLink="/register" class="text-white"> Register </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <span class="text-center">
            © 2021 Copyright:
            <a class="text-white" href="https://ahmadshabaneh.com" target="_blank"> Weas3ls' Wizarding Websites </a>
        </span>
        <ul class="navbar-nav flex-row float-end">
            <li class="nav-item">
                <a class="nav-link px-2" href="https://instagram.com/weas3ls" rel="nofollow" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-2" href="https://github.com/weas3ls" rel="nofollow" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>